/.env.local
/.env.local.php
/.env.*.local
/var/cache/
/var/log/
/vendor/
/.php_cs.cache
.phpunit
/docker/db-data
/set-env.sh
/provisioning/dev/environments.yaml

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
/build/logs
