parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Method App\\UsageFile::setDataDir\(\) has parameter \$dataDir with no typehint specified.#'
        - '#Property App\\Command\\RunCommand\:\:\$logger \(Monolog\\Logger\) does not accept Psr\\Log\\LoggerInterface\.#'
        - '#Unreachable statement \- code above always terminates\.#'
        - '#If condition is always true\.#'
    tmpDir: var/cache/

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
