parameters:
    bootstrapFiles:
        - bin/.phpunit/phpunit-6.5-0/vendor/autoload.php
    ignoreErrors:
        - '#Method App\\UsageFile::setDataDir\(\) has parameter \$dataDir with no typehint specified.#'
        - '#Parameter \#4 \$storageApiFactory of class App\\Command\\RunCommand constructor expects App\\StorageApiFactory, App\\StorageApiFactory\|PHPUnit\\Framework\\MockObject\\MockObject given.#'
        - '#Parameter \#2 \$mockClient of method App\\Tests\\Functional\\BaseFunctionalTest::getCommand\(\) expects Keboola\\StorageApi\\Client\|null, PHPUnit\\Framework\\MockObject\\MockObject given.#'
    checkMissingIterableValueType: false
